/datasets/
/.idea/
/ttest_code.py
/results_test/
/valid_equal_datasets/
/kursa_darba_prezentacijas/
/metric_scores/
/201RDB305_kursa_darbs.docx
/201RDB305_kursa_darbs.pdf
/Teksts.docx
/results/results.xlsx
/~$1RDB305_kursa_darbs.docx
